{
    "all": true,
    "exclude": ["**/*.d.ts"],
    "extension": [".ts", ".tsx"],
    "include": ["src/**/*.ts", "src/**/*.tsx"],
    "require": ["ts-node/register"],
    "reporter": ["text-summary", "html"]
}
